.news {
    padding-top: 80px;
    padding-bottom: 100px;
    height: 684px;
    &__wrapper {
        display: flex;
    }
    &__leftBlock {
        width: 526px;
        height: 504px;
        background-color: var(--color-2);
        &__title {
            margin: 35px 0 30px 40px;
        }
        &__item {
            padding: 35px 40px;
            color: var(--color-white);
            &:nth-child(2) {
                background-color: var(--color-1);
            }
        }
    }   
    





    &__rightBlock {
        width: 770px;
        height: 504px;
        background-color: rgba(0, 134, 138, 0.1);
        &__title {
            margin: 35px 60px 0 60px;
            color: var(--color-black);
        }
        &__wrapper {
            padding: 25px 60px 0 60px;
        }
        &__item {
            position: relative;
            padding-left: 21px;
            padding-bottom: 15px;
            &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                top: 6px;
                left: 0px;
                background-color: var(--color-1);
                border-radius: 2px;
            }
        }
        
    }
}



