.fz11lh150p {
    font-size: var(--fs-11);
    line-height: var(--lh-150p);
}
.fz12lh150p {
    font-size: var(--fs-12);
    line-height: var(--lh-150p);
}
.fz14lh150p {
    font-weight: 400;
    font-size: var(--fs-14);
    line-height: var(--lh-150p);
}
.fz14lh16 {
    font-size: var(--fs-14);
    line-height: var(--lh-16);
}
.fz16lh21 {
    font-size: var(--fs-16);
    line-height: var(--lh-21);
}
.fz16lh150p {
    font-size: var(--fs-16);
    line-height: var(--lh-150p);
}
.fz16lh150p-b {
    font-weight: 700;
    font-size: var(--fs-16);
    line-height: var(--lh-150p);
}
.fz18lh21 {
    font-size: var(--fs-18);
    line-height: var(--lh-21);
}
.fz18lh150p {
    font-size: var(--fs-18);
    line-height: var(--lh-150p);
}
.fz21lh150p {
    font-size: var(--fs-21);
    line-height: var(--lh-150p);  
}
.fz21lh150p-b {
    font-weight: 700;
    font-size: var(--fs-21);
    line-height: var(--lh-150p);  
}
.fz24lh150p-b {
    font-weight: 700;
    font-size: var(--fs-24);
    line-height: var(--lh-150p);  
}
.fz30lh150p {
    font-size: var(--fs-30);
    line-height: var(--lh-150p);  
}
.fz48lh150p-b {
    font-weight: 900;
    font-size: var(--fs-48);
    line-height: var(--lh-150p);
}