.title18 {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    font-size: var(--fs-18);
    line-height: var(--lh-21);
    color: var(--color-white);
    background: var(--color-2);    
}
.title18dark {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    font-size: var(--fs-18);
    line-height: var(--lh-21);
    color: var(--color-white);
    background: var(--color-1);
}